<!doctype html>
<style>
    body {
        background-color: #F7FAFC;
    }

    .title {
        text-align: center;
        padding: 1em;
    }

    .notification {
        padding: 2em;
    }
</style>
<html>
    <body>
        <div class="title">
            <h1>Magicrelay</h1> </br/>
        </div>
        <div class="notification">
            {{message}}
            <br/><br/>
            ~{{sender}}
        </div>
    </body>
</html>